<p>
    Simple use of the <strong>&lt;ng-content&gt;</strong> .
    <br/>
    We send contents into children (elements) and receive them inside children without use of the <strong>select</strong> attribute.
</p>
<p>
    First child element:
    <br/>
    <app-inner-for-ng-content>
        content one
    </app-inner-for-ng-content>
    <br/>
    Second child element:
    <br/>
    <app-inner-for-ng-content>
        content two
    </app-inner-for-ng-content>
</p>

<mat-divider></mat-divider>
<br>

<p>
    <strong>&lt;ng-content&gt;</strong> with additional attributes.
    <br/>
    We send contents with additional attributes into children (elements) and receive them inside children with use of the <strong>select</strong> attribute.
</p>
<p>
    Two contents in one element:
    <br/>
    <app-inner-for-ng-content>
        <div first>content first</div>
        <div second>content second</div>
    </app-inner-for-ng-content>
</p>