.red {
    background-color: red;
    color: white;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
    color: white;
}
.blue {
    background-color: blue;
    color: white;
}
.navy {
    background-color: navy;
    color: white;
}
.violet {
    background-color: violet;
}